{% extends 'base.html' %} {% load static %} {% block content %}

<script>
    $(document).ready(function () {
        $("#id_openNetChoice").select2({
            theme: "bootstrap4",
        });
        $("#id_openDashChoice").select2({
            theme: "bootstrap4",
        });
        $("#id_refreshNetChoice").select2({
            theme: "bootstrap4",
        });
    });

    function openSelectedCitationNet() {
        val = document.getElementById("id_openNetChoice").value;
        window.location.href = "./" + val;
    }

    function openSelectedCitationDashboard() {
        val = document.getElementById("id_openDashChoice").value;
        window.location.href = "../dash/citationnet/?filename=" + val + ".csv";
    }

    function refreshSelectedCitationNet() {
        // var val: String;
        doi = document.getElementById("id_refreshNetChoice").value;
        text = document.getElementById("id_refreshNetChoice").selectedOptions[0].text

        x = text.search("hairball") >= 0 ? "?hairball=True" : "";
        url = "./new/" + doi + x;
        console.log(url)

        window.location.href = url;
        alert(
            "Generating the CitationNet might take a while. Please do not close this window!"
        );
    }

    function generateNewCitationNet(hairball = false) {
        val = document.getElementById("id_doi").value;
        console.log(val)

        x = hairball ? "?hairball=True" : "";

        url = "./new/" + val + x;
        console.log(url)
        window.location.href = url
        // alert(
        //     "Generating the CitationNet might take a while. Please do not close this window!"
        // );
    }
</script>

<div class="container">
    <h1 class="pt-3">CitationNet</h1>

    <div id="accordion">
        <div class="card">
            <div class="card-header bg-info text-white" id="headingOne" data-toggle="collapse" type="button"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Erklärung und Nutzungshinweise
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        Die CitationNet Visualisierungen dienen der zeitlichen Darstellung
                        von Zitationen und Referenzen einer Ausgangspublikation. <br />
                        Diese Netzwerke werden in einer Zylinderform mit der Ausgangposition
                        im Mittelpunkt in 3D angezeigt. Dabei lässt die Position einer als
                        Knoten dargestellten Publikation Rückschlüsse auf deren Bedeutung
                        und Erscheinungsjahr zu. <br />
                        Von oben betrachtet erscheint der Zylinder als Kreis, wobei die
                        Publikationen, welche weiter vom Mittelpunkt entfernt sind, häufiger
                        zitiert wurden. Wird der Zylinder von der Seite betrachtet, wird
                        deutlich, dass die Publikationen in mehreren Schichten angeordnet
                        sind: jüngere Veröffentlichungsdaten sind über älteren angeordnet.
                        <br />
                        Informationen zu den einzelnen Objekten werden beim Berühren mit dem
                        Cursor eingeblendet, die Ansicht kann mittels Bedienhilfen in der
                        Seitenleiste und über händische Rotation mittels klicken und ziehen
                        verändert werden. <br />
                        Weitere Ansichtsoptionen und eine zusätzliche Anleitung sind in der
                        Seitenleiste verfügbar. <br>
                        Zum Abruf der Publikationsdaten wird die API der Plattform <a
                            href="https://app.dimensions.ai/">dimensions.ai</a> genutzt.
                    </p>

                    <p>
                        Ansprechpartner für Feedback und Änderungswünsche ist
                        <a href="mailto:regel@mpiwg-berlin.mpg.de">Robert Egel.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-info text-white" id="headingTwo" data-toggle="collapse" type="button"
                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Description and usage reference
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        These visualizations serve the need for displaying Citations and
                        References of a source publication. <br />
                        The networks are transformed into the form of a cylinder and
                        displayed in 3D with the source publication in the center. According
                        to the position of an item shown as a node, you can infer it's
                        relevancy and year of publication. <br />
                        Upon opening the graph is shown from above, the requested
                        publication is shown in red. Nodes farer away from the center, have
                        are cited more often than ones on the inner spheres. When viewed
                        from the side, the requested publication is placed in the center of
                        the screen with younger publications above and older ones below.
                        Informationen zu den einzelnen Objekten werden beim Berühren mit dem
                        Cursor eingeblendet, die Ansicht kann mittels Bedienhilfen in der
                        Seitenleiste und über händische Rotation mittels klicken und ziehen
                        verändert werden. <br />
                        Hover over a node to show DOI, year of publishing and the number of
                        citations according to CrossRef and click it to open the publication
                        using it's DOI. <br />
                        Click and drag inside the window to rotate the graph or use the
                        tools in the sidebar.<br />
                        Additional layouting and viewing options as well as a usage
                        reference can be found in the sidebar. <br>
                        Publication data is queried using API tools provided by <a
                            href="https://app.dimensions.ai/">dimensions.ai</a>.
                    </p>

                    <p>
                        Should there be any issues, questions or feature requests, feel free
                        to message
                        <a class="mail" href="mailto:regel@mpiwg-berlin.mpg.de">Robert Egel.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% if doi == None %}
    <div class="row" style="margin-top: 30px">
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Bestehenden Datensatz in der Netzwerkansicht öffnen.
                </div>
                <div class="card-body">
                    <!-- <p class="card-text">Datenbank mit Publikationen von Max-Planck-Instituten in Springer/Nature. Das Interface bietet die Möglichkeit zum Suche und Bearbeiten von Datensätzen sowie zum Abgleich mit Daten aus unserer Forschungsdatenbank.</p> -->

                    <form class="form-row" action="javascript:openSelectedCitationNet()">
                        <div class="col-md-10">{{ form_open }}</div>
                        <div class="col-md-2">
                            <button class="btn btn-info btn-block" type="submit">Senden</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Bestehenden Datensatz im Dashboard öffnen.
                </div>
                <div class="card-body">
                    <form class="form-row" action="javascript:openSelectedCitationDashboard()">
                        <div class="col-md-10">{{ form_open_dash }}</div>
                        <div class="col-md-2">
                            <button class="btn btn-info btn-block" type="submit">Senden</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row" style="margin-top: 30px">
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Neuen Datensatz generieren
                </div>
                <div class="card-body">
                    <!-- <p class="card-text">Datenbank mit Publikationen von Max-Planck-Instituten in Springer/Nature. Das Interface bietet die Möglichkeit zum Suche und Bearbeiten von Datensätzen sowie zum Abgleich mit Daten aus unserer Forschungsdatenbank.</p> -->

                    <form method="POST" action="{% url 'CitationNet:new' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            {% if doi == None %}
                            <input type="text" class="form-control mb-2 mr-sm-2" id="txt-doi" name="doi"
                                placeholder="DOI hier einfügen (zum Beispiel: 10.1038/230434a0)"/>
                            {% else %}
                            <input type="text" class="form-control mb-2 mr-sm-2" id="txt-doi" name="doi"
                                placeholder="DOI hier einfügen (zum Beispiel: 10.1038/230434a0)" value="{{ doi }}" />
                            {% endif %}
                        </div>
                        <div class="form-row">
                            <input type="text" class="form-control mb-2 mr-sm-2" id="txt-api-key" name="api_key"
                                placeholder="dimensions.ai API Key einfügen (SSL-verschlüsselte Übertragung)" />
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <button class="btn btn-block btn-info" type="submit" id="btn-submit-hairball"
                                    name="generateHairball" value="True">neues erweitertes Netzwerk</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-block btn-info" type="submit" id="btn-submit-no-hairball"
                                    name="generateNormal" value="True">neues normales Netzwerk</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if doi == None %}
    <div class="row" style="margin-top: 30px">
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Bestehenden Datensatz aktualisieren
                </div>
                <div class="card-body">
                    <!-- <p class="card-text">Datenbank mit Publikationen von Max-Planck-Instituten in Springer/Nature. Das Interface bietet die Möglichkeit zum Suche und Bearbeiten von Datensätzen sowie zum Abgleich mit Daten aus unserer Forschungsdatenbank.</p> -->

                    <form class="form-row" action="javascript:refreshSelectedCitationNet()">
                        <div class="col-md-10">{{ form_refresh }}</div>
                        <div class="col-md-2">
                            <button class="btn btn-block btn-info" type="submit">Senden</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}