<!DOCTYPE html>
<html>

<head>
    <title>Embedding Vega-Lite</title>
    <script src="/src/CitationNet/static/lib/vega.min.js"></script>
    <script src="/src/CitationNet/static/lib/vega-lite.min.js"></script>
    <script src="/src/CitationNet/static/lib/vega-embed.min.js"></script>
</head>

<body>
    <div id="vis"></div>

    <!-- <script type="text/javascript"> -->
    <script type="module">
        const resp = await fetch("/src/CitationNet/static/lib/vegaLiteSpec.json");
        const vegaLiteSpec = await resp.json();
        vegaEmbed('#vis', vegaLiteSpec);
    </script>
</body>

</html>